mixin go-to-top(data)
    button#to-top.to-top
        != pugHelpers.Icon.call(locals, {iconName: 'slider-arrow', className: 'to-top__icon-hidden'})
        != pugHelpers.Icon.call(locals, {iconName: 'slider-arrow', className: 'to-top__icon'})

