.advertising {
  max-width: 312px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  &__item {
    margin-bottom: 12px;
    //display: flex;
    //justify-content: flex-end;
    &:hover {
      .advertising__link {
        @include tr( .3s ease);
      }
    }
  }

  &__item_inst {
    .advertising__text {
      background: linear-gradient(143deg, #8F00FF, #E328CD 10%, #FDB913);
      color: #fff;
    }
    .advertising__icon{
      border-radius: 50%;
      background: linear-gradient(143deg, #8F00FF, #E328CD 10%, #FDB913);
    }

  }

  &__item_discord {
    .advertising__text {
      background: #5662F6;
      color: #fff;
    }
    .advertising__icon{
      border-radius: 50%;
      background: #5662F6;
    }
  }

  &__item_vk {
    .advertising__text {
      background: #5195F2;
      color: #fff;
    }
    .advertising__icon{
      border-radius: 50%;
      background: #5195F2;
    }
  }

  &__link {
    display: flex;
    justify-content: flex-end;
    height: 62px;
    min-width: 62px;
    overflow: hidden;
    gap: 0 29px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1;

    @include tr( .3s ease);
    @include mq($small) {
      @include font-size(15px);
    }

    &:hover {
      .advertising__text {
        width: 280px;
        padding-right: 62px;
        padding-left: 20px;
        visibility: visible;
        opacity: 1;
        border-radius: 35px 35px 35px 0px;
      }
    }
  }

  &__text {
    background: $color-blue;
    border-radius: 35px 35px 35px 35px;
    white-space: nowrap;
    position: relative;
    z-index: 100;
    text-align: center;
    width: 0;
    padding-top: 20px;
    margin-right: -62px;
    opacity: 0;
    @include tr( .5s ease);
    &:hover{
      text-decoration: underline;
    }
  }
  &__text--small{
    display: block;
    @include font-size(8px);
    margin-top: 4px;
    text-align: center;
  }

  &__icon {
    margin: 0;
    z-index: 150;
    width: 62px;
    height: 62px;
  }
}
