.fix-controls{
  z-index: 999;
  position: fixed;
  bottom: 20px;
  right: 15px;
  @include mq($medium){
    bottom: 50px;
    right: 30px;
  }
  &__items{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  &__item{
    z-index: 99;
    position: relative;
    margin-bottom: 10px;
    display: flex;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;


  }

  &__item-text{
    white-space: nowrap;
    position: absolute;
    right: 30px;
    opacity: 0;
    border-top-left-radius: 40px;
    border-top: 2px solid $color-blue;
    border-bottom: 2px solid $color-blue;
    border-left: 2px solid $color-blue;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 0 30px 0 20px;
    width: 0;
    height: 60px;;
    transition: all 0.8s ease;
    z-index: -1;
  }
  &__item--go-top{
    overflow: hidden;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: $color-blue;
    transition: all 0.5s ease;
    &:hover{
      opacity: 0.7;
      transform: scale(1.1);

    }
  }
  &__item--telegram{
    overflow: initial;
    height: 60px;
    z-index: 10;
    box-shadow: 0 0 0 0 rgba(12, 144, 181, 0.5);
    &:hover .fix-controls__item-text{
        opacity: 1;
        width: 210px;
    }
  }
  &__item--go-top &__icon{
    fill:transparent;
    transform: rotate(-90deg);
  }
}
@-webkit-keyframes pulse-btn {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(12, 144, 181, 0.5);
  }
  70% {
    -webkit-box-shadow: 0 0 0 13px rgba(12, 144, 181, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(12, 144, 181, 0);
  }
}
@keyframes pulse-btn {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(12, 144, 181, 0.5);
    box-shadow: 0 0 0 0 rgba(12, 144, 181, 0.5);
  }
  70% {
    -moz-box-shadow: 0 0 0 13px rgba(12, 144, 181, 0);
    box-shadow: 0 0 0 13px rgba(12, 144, 181, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(12, 144, 181, 0);
    box-shadow: 0 0 0 0 rgba(12, 144, 181, 0);
  }
}
@-webkit-keyframes pulse-btn {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(12, 144, 181, 0.6);
  }
  70% {
    -webkit-box-shadow: 0 0 0 14px rgba(12, 144, 181, 0.4);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(12, 144, 181, 0);
  }
}
