mixin bg-animation(data)
    .bg-area
        ul.bg-area__circles
            li
            li
            li
            li
            li
            li
            li
            li
            li
            li
